p{
    padding: 25px;
    border-top: 20px solid yellow;
    border-right: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 20px solid yellow;
    margin-right: 900px;
    margin-left: 50px;
    margin-top: 25px;
}
