#p1 {
    background: grey;
    color: black
}
#p2 {
    padding: 10%;
    border: solid 1px black;
    margin: 25%;
}
#p3 {
    padding: 2%;
    border: solid 20px grey;
    margin: 15%;
}