#ej1 {
    background: #fffde7;
    padding: 30px;
    border: solid #f9a825 10px;
    outline: solid green 20px;
    margin: 20px;
    color: #f9a825;
}
#ej11 {
    color: #f57f17;
}
#ej12 {
    text-decoration: none;
    color: #f9a825;
}
#ej12:hover {
    color:aqua;
}
#ej12:link {
    color:red;
}
#ej31 {
    border: solid 2px blue;
    margin: 1% 50% 1% 0%;
}
#ej32 {
    border: solid 2px green;
    margin: 1% 50% 1% 0%;
}
#ej33 {
    border-top: solid 2px blue;
    border-right: solid 2px green;
    border-bottom: solid 2px red;
    border-left: solid 2px grey;
    margin: 1% 50% 1% 0%;
}
#ej34 {
    border: dotted 2px #f9a825;
    margin: 1% 50% 1% 0%;
}
#ej41 {
    outline: solid #f9a825 3px;
    border: solid black 1px;
    margin: 1% 50% 1% 0%;
}
#ej42 {
    border: solid black 1px;
    outline: solid green 3px;
    margin: 1% 50% 1% 0%;
}
#ej43 {
    border: solid black 1px;
    outline: dotted #f9a825 3px;
    margin: 1% 50% 1% 0%;
}
#ej6 {
    background-image: url("https://image.freepik.com/vector-gratis/fondo-floral-acuarela-colores-suaves_52683-28620.jpg");
    padding: 10%;
    margin: 0% 35% 0% 0%;
}
#ej61 {
    background-color: orange;
    opacity: 40%;
    border: solid black 1px;
    margin: 1% 20% 1% 10%;
}