#ej1 {
    font-size: 40px;
    text-shadow: green 3px 0 3px;
    color: white;
}
#ej2 {
    width: 200px;
    height: 100px;
    text-align: center;
    box-shadow: grey 10px 0 10px;
    align-content: center;
    padding-top: 75px;
}